/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
    --title-color: #DB00FF;
    --text-color: #F1B2CE;
    --sub-text-color: #000028;
    --accent-color: #ff0070;
    --btn-color:#ff0070;
    --backgroung-image: url(../images/cover-image-dark.png);
    --page-background-color: #000028;
}

.theme_dark .header__theme-menu-button:hover {
    border: 1px solid rgba(255, 0, 112, 0.40);
}

@media (prefers-color-scheme: dark) {
    .decorative__element {
        display: flex;
    }

    .header__theme-menu-button:hover {
        border: 1px solid rgba(255, 0, 112, 0.40);
    }
}