.page {
    color: var(--text-color);
    font-family: var(--font);
    font-weight: 400;
    line-height: 23.4px;
    letter-spacing: var(--letter-spacing);
    background-color: var(--page-background-color);
    background-attachment: fixed;
}

.cover {
    display: grid;
    padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
    min-block-size: 100vh;
}

.decorated-zone {
    position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
    content: "";
    position: absolute;
    inline-size: 25px;
    block-size: 25px;
}

.decorated-zone::before {
    border-inline-end: 1px solid var(--btn-color);
    border-block-start: 1px solid var(--btn-color);
    inset-inline-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
    inset-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.decorated-zone::after {
    border-inline-start: 1px solid var(--btn-color);
    border-block-end: 1px solid var(--btn-color);
    inset-inline-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
    inset-block-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.link {
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.link:focus {
    outline: 0;
}

.link:focus-visible {
    outline: 1px solid currentColor;
}

.rec__decorative {
    visibility: var(--rec-decor-visibility);

    position: absolute;
    top: 0;
    right: 0;
    content: "";
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--btn-color);
    text-align: center;
    padding-right: 8px;
    text-transform: uppercase;
    margin: 20px;
}

.rec__decorative::before {
    content: "REC";
    color: var(--accent-color);
    line-height: 24px;
}

.rec__decorative::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 0 2px 2px var(--accent-color);
    background: var(--accent-color);
    inline-size: 9px;
    block-size: 9px;
}

.page-title {
    color: var(--title-color);
    font-weight: 700;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 82.5%;
    text-shadow: 4px 4px 0 var(--accent-color);
}

.shadow-decor {
    text-shadow: 2px 2px 0 var(--accent-color);
}

.title {
    color: var(--btn-color);
    font-weight: bold;
    font-size: inherit;
    line-height: inherit;
}

.title-decor {
    color: var(--sub-text-color);
    background: var(--accent-color);
}

.section {
    display: grid;
    gap: 20px;
}

.section-gallery {
    gap: 10px;
}

.section-how__title {
    margin-block-end: 20px;
}

.articles-list {
    display: grid;
    gap: 20px;
}

.article {
    display: grid;
    gap: 10px;
}

.gallery-list {
    display: grid;
    gap: 10px;
}

.gallery-list__item-img {
    display: block;
    object-fit: cover;
    object-position: center;
    block-size: 100%;
    inline-size: 100%;
}

.header {
    align-items: start;
    background-image: var(--backgroung-image);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.header__theme-menu {
    justify-self: end;
    margin-block: 65px;
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.header__theme-menu-button {
    border: 1px solid transparent;
    padding: 2px 12px;
    color: var(--btn-color);
    line-height: 18px;
    text-transform: lowercase;
    background: transparent;
    cursor: pointer;
}

.header__theme-menu-button_active {
    cursor: default;
    pointer-events: none;
    border: 1px solid var(--btn-color);
}

.header__theme-menu-button:hover {
    border: 1px solid var(--border-color);
    cursor: pointer;
}

.header__theme-menu-button:focus {
    outline: none;
}

.header__theme-menu-button:focus-visible {
    border-block-end-color: currentColor;
}

.header__text {
    font-weight: bold;
    margin-block: 55px;
    color: var(--sub-text-color);
    font-size: inherit;
    line-height: inherit;
    background: var(--accent-color);
    max-block-size: 117px;
    justify-self: end;
}

.main {
    display: grid;
    gap: 50px;
    padding: 40px 10px;
}

.footer {
    place-items: center;
}


@media (width >= 768px) {
    .rec__decorative {
        position: absolute;
        top: 0;
        right: 0;
        content: "";
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--btn-color);
        text-align: center;
        padding-right: 8px;
        text-transform: uppercase;
        margin: 20px;
    }

    .page-title {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }

    .section {
        grid-template-columns: clamp(236px, calc(100% / 3.25), 315px) 1fr;
    }

    .section-what__articles-list {
        grid-column-start: span 2;
    }

    .section-gallery {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .section-how__articles-list {
        grid-column-start: 2;
    }

    .gallery-list {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .gallery-list__item:first-child,
    .gallery-list__item:last-child {
        grid-column-start: span 2;
    }

    .gallery-list__item:nth-child(2),
    .gallery-list__item:nth-child(3) {
        grid-row-start: span 2;
    }

    .header {
        padding-inline-start: 0;
    }

    .header__theme-menu {
        margin-block-start: 170px;
        margin-block-end: 70px;
    }

    .header__text {
        justify-self: end;
        inline-size: clamp(364px, calc(100% / 2 - 10px), 491px);
    }

    .main {
        gap: 80px;
        padding: 60px 20px;
    }
}

@media (width >= 1024px) {
    .page-title {
        text-shadow: 4px 4px 0 var(--accent-color);
    }

    .section {
        column-gap: 30px;
    }

    .section-what__articles-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .header__theme-menu {
        justify-self: center;
        margin-inline-start: 20px;
        margin-block-start: 0;
        margin-block-end: 215px;
    }

    .header__theme-menu-list {
        flex-direction: row;
    }
}