:root {
    --font: 'IBM Plex mono', monospace;
    --font-size: 20px;
    --letter-spacing: 0.075em;
    --title-color: #DB00FF;
    --text-color: #F1B2CE;
    --sub-text-color: #000028;
    --accent-color: #ff0070;
    --btn-color:#ff0070;
    --border-color: rgb(255, 0, 112, 0.4);
    --backgroung-image: url(../images/cover-image-dark.png);
    --page-background-color: #000028;
    --rec-decor-visibility: visible;
}