:root {
    --font: 'IBM Plex mono', monospace;
    --font-size: 20px;
    --letter-spacing: 0.075em;
    --border-color: rgb(255, 0, 112, 0.4);
    --border-color: rgb(53, 52, 48, 0.4);
    --title-color: #FFC2E6;
    --text-color: #353430;
    --sub-text-color: #353430;
    --accent-color: #ff8dcb;
    --btn-color:#353430;
    --backgroung-image: url(../images/cover-image-light.png);
    --page-background-color: #FFF1F7;
    --rec-decor-visibility: hidden;
}